$base-font-size: 24px;
$base-line-height: 1.3;
$base-text-color: #FFFFFF;
$base-text-color-secondary: #999999;
$base-text-color-dark: #282828;
$bg-accent: #FF4C00;
$bg-active: #FB7405;
$bg-dark: #1D2228;
$bg-white: #FFFFFF;
