@import 'constants.scss';
@import 'mixins.scss';
@import './components.scss';
@import './block/header.scss';
@import './block/preview.scss';
@import './block/preparation.scss';
@import './block/about';

body {
    font-family: 'Montserrat', sans-serif;
    line-height: $base-line-height;
    font-size: $base-font-size;
    color: $base-text-color;

    @include media-lg(){
        background-color: $bg-white;
    }
}
