* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

h2 {
  font-size: 48px;
  line-height: 64px;
  font-weight: 600;
}

h3 {
  font-size: 32px;
  line-height: 41px;
  font-weight: 600;
}

button {
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
  padding: 16px 30px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
}

.btn-primary {
  background: #FF4C00;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.btn-primary:hover {
  background: #FB7405;
}

@supports (-webkit-appearance:none) {

}