* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 24px/32px "Montserrat", sans-serif;
}

@supports (-webkit-appearance:none) {

}

@media only screen and (max-width: 800px) {
  body {
    background-color: limegreen;
  }

@supports (-webkit-appearance:none) {

}
}