.faq {
    margin-bottom: 100px;

    &__content {
        @include content-wrapper();
        padding: 0 70px;

        @include media-lg() {
            flex-direction: column;
            padding: 0 20px;
        }
    }

    &__title {
        color: $base-text-color-dark;
        font-size: 48px;
        font-weight: bold;
        margin-bottom: 50px;

        @include media-md(){
            font-size: 40px;
        }

        @include media-sm(){
            font-size: 36px;
        }
    }
}

.question {
    border-bottom: 1px solid $base-text-color-secondary;
    overflow: hidden;

    &__heading {
        padding: 40px 0;
        display: flex;
        align-items: center;
        color: $base-text-color-dark;
    }

    &__number {
        color: $bg-accent;
        font-size: 40px;
        font-weight: bold;
        margin-right: 50px;

        @include media-md(){
            font-size: 36px;
            margin-right: 30px;
        }

        @include media-sm(){
            font-size: 24px;
            margin-right: 20px;
        }
    }

    &__name {
        flex-grow: 1;
        font-size: 36px;
        font-weight: bold;
        margin-right: 50px;

        @include media-md(){
            font-size: 28px;
            margin-right: 30px;
        }

        @include media-sm(){
            font-size: 20px;
            margin-right: 20px;
        }
    }

    &__arrow {
        width: 0;
        height: 0;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 26px solid $bg-accent;
        transition: transform 0.2s ease;

        &_active {
            transform: rotate(180deg);
        }
    }

    &__content {
        padding-left: 92px;
        padding-right: 90px;
        color: $base-text-color-dark;
        max-height: 0;
        transition: max-height 0.2s ease-out;

        @include media-md(){
            padding-left: 70px;
        }

        @include media-sm(){
            padding-left: 45px;
        }
    }

    &__text {
        font-size: 20px;
        padding-bottom: 40px;

        @include media-sm(){
            font-size: 16px;
        }
    }
}