@import '../constants.scss';

.works {
    margin-bottom: 100px;
    &__content {
        @include content-wrapper();
        padding: 0 70px;

        @include media-lg() {
            padding: 0 20px;
        }
    }

    &__heading {
        color: $base-text-color-dark;
        font-size: 48px;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;

        @include media-md(){
            font-size: 40px;
        }

        @include media-sm(){
            font-size: 36px;
        }
    }

    &__show-all {
        color: $base-text-color-dark;
        padding: 16px 30px;
        font-size: 20px;
        line-height: 1.3;
        background-color: transparent;
        border: 3px solid $bg-accent;
        font-weight: bold;
        transition: border 0.3s ease;

        &:hover {
            border: 3px solid $bg-active;
        }
    }

    &__slider {
        margin: 0 auto;
    }
}

// обертка для слайда карусели
.slide {
    position: relative;

    &__image {
        display: block;
    }

    &__info {
        position: absolute;

        @include media-md(){
            margin-top: 20px;
            position: unset;
        }
    }
}


.additional {
    color: white;
    bottom: 0;
    left: 0;
    padding: 50px;
    background-color: $bg-dark;

    @include media-lg(){
        padding: 20px;
        margin-top: 20px;
        position: unset;
    }

    &__title {
        font-size: 32px;

        @include media-lg() {
            font-size: 24px;
        }

        @include media-sm() {
            font-size: 20px;
        }
    }

    &__key {
        font-size: 16px;
        font-weight: bold;
    }

    &__value {
        font-size: 16px;
    }
}